<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PDVnet.ControleCaixa.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="PDVnetConnection"
    connectionString="Server=SIQUEIRA\SQLEXPRESS;Database=PDVnetControleCaixa;Trusted_Connection=True;TrustServerCertificate=True;"
    providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
 <userSettings>
  <PDVnet.ControleCaixa.UI.Properties.Settings>
   <setting name="SaldoMinimo" serializeAs="String">
    <value>100</value>
   </setting>
  </PDVnet.ControleCaixa.UI.Properties.Settings>
 </userSettings>
</configuration>